<div class="last_updated">
  <table class="table table-striped table-hover">
    <thead>
      <th>
        Battle Tag
      </th>
      <th>
        Level
      </th>
      <th>
        Level Hardcore
      </th>
      <th>
        Level Season
      </th>
      <th>
        Level Season Hardcore
      </th>
      <th>
        Last Update
      </th>
    </thead>
    <% SharedController.last_updated.each do |c| %>
    <tr class='clickable-row' data-href="career/index?battle_tag=<%= URI.escape(c[:battle_tag]) %>">
      <td>
        <%= c[:battle_tag]  %>
      </td>
      <td>
        <%= c[:paragon_level] %>
      </td>
      <td>
        <%= c[:paragon_level_hardcore] %>
      </td>
      <td>
        <%= c[:paragon_level_season] %>
      </td>
      <td>
        <%= c[:paragon_level_season_hardcore] %>
      </td>
      <td>
        <%= c[:updated_at].strftime("%d-%m-%Y") %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
