<div class="col-lg-2"></div>
<div class="col-lg-8">

  <h1>
    <%= career.battle_tag %>
  </h1>
  <table cellspacing="0" class="table table-striped table-hover sortable" data-height="299" id="table1">
    <thead>
      <tr>
        <% unless defined?(hero).nil? %>
        <th></th>
        <% end %>
        <th></th>
        <th class="center"></th>
        <th class="center">Name</th>
        <th class="center">Class</th>
        <th class="center">Paragon Level</th>
        <th class="center">Level</th>
        <th class="center">Seasonal</th>
        <th class="center">Hardcore</th>
        <th class="center">Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <% career.heroes.each do |h| %>
      <tr class='clickable-row' data-href="../hero/index?battle_tag=<%= URI.escape(career.battle_tag) %>&hero_id=<%= h[:id] %>" >
        <% unless defined?(hero).nil? %>
        <td class="center">
          <%= radio_button_tag hero, h[:id] %>
        </td>
        <% end %>
        <td class="center">
          <%= h[:id] %>
        </td>
        <td class="center">
          <%= image_tag @portrait.middle(h[:class], h[:gender]) %>
        </td>
        <td class="center">
          <%= h[:name] %>
        </td>
        <td class="center"><%= h[:class] %></td>
        <td class="center"><%= h[:paragon_level] %></td>
        <td class="center"><%= h[:level] %></td>
        <% if h[:seasonal] %>
        <td class="center">
          <span class="large-seasonal-leaf"></span>
        </td>
        <% else %>
        <td class="center"></td>
        <% end %>
        <% if h[:hardcore] %>
        <td class="center red">Hardcore</td>
        <% else %>
        <td class="center"></td>
        <% end %>
        <td class="center"><%= Time.at h[:last_updated] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-lg-2">

</div>
