<% life = stats['life'] - stats2['life'] %>
<% damage = stats['damage'] - stats2['damage'] %>
<% toughness = stats['toughness'] - stats2['toughness'] %>
<% healing = stats['healing'] - stats2['healing'] %>
<% armor = stats['armor'] - stats2['armor'] %>
<% strength = stats['strength'] - stats2['strength'] %>
<% dexterity = stats['dexterity'] - stats2['dexterity'] %>
<% vitality = stats['vitality'] - stats2['vitality'] %>
<% intelligence = stats['intelligence'] - stats2['intelligence'] %>
<table id="stats">
  <tr>
    <%= render 'compare/get_winner', value: life, name: 'Life' %>
  </tr>
  <tr>
    <%= render 'compare/get_winner', value: damage, name: 'Damage' %>
  </tr>
  <tr>
    <%= render 'compare/get_winner', value: toughness, name: 'Toughness' %>
  </tr>
  <tr>
    <%= render 'compare/get_winner', value: healing, name: 'Healing' %>
  </tr>
  <tr>
    <%= render 'compare/get_winner', value: armor, name: 'Armor' %>
  </tr>
  <tr>
    <%= render 'compare/get_winner', value: strength, name: 'Strength' %>
  </tr>
  <tr>
    <%= render 'compare/get_winner', value: dexterity, name: 'Dexterity' %>
  </tr>
  <tr>
    <%= render 'compare/get_winner', value: vitality, name: 'Vitality' %>
  </tr>
  <tr>
    <%= render 'compare/get_winner', value: intelligence, name: 'Intelligence' %>
  </tr>
</table>
