<% if value.round > 0 %>
  <th>
    <i class="fa fa-check"></i>
  </th>
  <th class="left">
    <%= name %>
  </th>
  <th class="right">
    <%= value.round.to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1 ") %>
  </th>
  <th>
    <i class="fa fa-meh-o"></i>
  </th>
<% elsif value.round < 0 %>
  <th>
    <i class="fa fa-meh-o"></i>
  </th>
  <th class="left">
    <%= name  %>
  </th>
  <th class="right">
    <%= value.round.to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1 ") %>
  </th>
  <th>
    <i class="fa fa-check"></i>
  </th>
<% else %>
  <th>
    <i class="fa fa-check"></i>
  </th>
  <th class="left">
    <%= name  %>
  </th>
  <th class="right">
    <%= value.round.to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1 ") %>
  </th>
  <th>
    <i class="fa fa-check"></i>
  </th>
<% end %>
