<div class="row">
  <%= form_tag(compare_hero_path, method: "get") do %>
    <div class="col-lg-5">
      <%= render 'shared/profil', {career: @career, hero: 'hero_id'} %>
    </div>
    <div class="col-lg-2">
      <%= button_tag "COMPARE", class:'btn btn-default' %>
    </div>
    <div class="col-lg-5">
      <%= render 'shared/profil', {career: @career2, hero: 'hero_id2'} %>
    </div>
  <% end %>
</div>
