<div class="row">
  <div class="col-lg-3">
    <h1>
      <%= @hero.name %>
    </h1>
    <%= render 'shared/hero_stats', stats: @hero.stats %>
  </div>
  <div class="col-lg-6">
    <h1>VS.</h1>
    <%= render 'compare/compare_stats', {stats: @hero.stats, stats2: @hero2.stats} %>
    <div class="row">
      <div class="col-lg-6">
        <%= render 'shared/skill', skill: @hero.skills['active'] %>
      </div>
      <div class="col-lg-6">
        <%= render 'shared/skill', skill: @hero2.skills['active'] %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <h1>
      <%= @hero2.name %>
    </h1>
    <%= render 'shared/hero_stats', stats: @hero2.stats %>
  </div>
</div>
