<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-6 center-block">
    <%= form_tag(compare_career_path, method: "get") do %>
    <div class="input-group input-group-lg">

      <%= text_field_tag :battle_tag, nil, class: 'form-control input-lg', autofocus: true, placeholder: 'Battle Tag 1: Name#Number' %>

      <%= text_field_tag :battle_tag2, nil, class: 'form-control input-lg', placeholder: 'Battle Tag 2: Name#Number' %>
      <span class="input-group-btn">
        <%= button_tag "Search", class: 'btn btn-default btn-lg', remote: true %>
      </span>
    </div>
    <% end %>
  </div>
  <div class="col-lg-2">
    <!-- <%= render 'shared/last_updated' %> -->
  </div>
</div>
