// Place all the styles related to the Career controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: rgba(37, 31, 31, 0.82);
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0);
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: green;
}
