$mid: 610px;
$ring: 370px;
.absolut-position {
  position: absolute;
}
.portrait {
  width: 87%;
}
table {
  .left {
    text-align: left;
    vertical-align: middle;
  }
  .right {
    text-align: right;
    vertical-align: middle;
  }
  .center {
    text-align: center;
    vertical-align: middle;
  }
}
.skill {
  margin-left: 10px;
}
#stats {
  background: white;
  position: absolute;
  width: 200px;
  color: #100d20;
  z-index: 10;
}
#name {
  width: 300px;
  top: 55px;
  left: 494px;
  z-index: 10;
  text-align: center;
  color: white;
}
.head {
  top: 120px;
  left: $mid;
}
.torso {
  top: 200px;
  left: $mid - 10;
}
.feet {
  top: 460px;
  left: $mid;
}
.hands {
  top: 270px;
  left: 500px;
}
.shoulders {
  top: 162px;
  left: 529px;
}
.legs {
  top: 365px;
  left: $mid;
}
.bracers {
  top: 260px;
  left: 716px;
}
.main_hand {
  top: 433px;
  left: 500px;
}
.off_hand {
  top: 433px;
  left: 716px;
}
.waist {
  top: 331px;
  left: $mid;
}
.right_finger {
  top: $ring;
  left: $mid - 109;
}
.left_finger {
  top: $ring;
  left: $mid + 109;
}
.neck {
  top: 203px;
  left: 691px;
}
