<div class="btn-group">
  <button class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" type="button">
    <span data-bind="label" id='current-locale'>
      <a href=''>
        <i class="famfamfam-flag-de" data-locale='de_DE'></i>
        Deutsch</a>
    </span>
    <span class="caret"></span>
  </button>
  <ul id='locale' class="dropdown-menu" role="menu">
    <div class="locale_space america">
      <li>
        <a href=''>
          <i class="famfamfam-flag-us" data-locale='en_US'></i>
          English</a>
      </li>
      <li>
        <a href=''>
          <i class="famfamfam-flag-br" data-locale='pt_BR'></i>
          Portuguese</a>
      </li>
      <li>
        <a href=''>
          <i class="famfamfam-flag-mx" data-locale='es_MX'></i>
          Español</a>
      </li>
    </div>
    <div class="locale_space europe">
      <li>
        <a href=''>
          <i class="famfamfam-flag-de" data-locale='de_DE'></i>
          Deutsch</a>
      </li>
      <li>
        <a href=''>
          <i class="famfamfam-flag-fr" data-locale='fr_FR'></i>
          Français</a>
      </li>
      <li>
        <a href=''>
          <i class="famfamfam-flag-gb" data-locale='en_GB'></i>
          English</a>
      </li>
      <li>
        <a href=''>
          <i class="famfamfam-flag-it" data-locale='it_IT'></i>
          Italiano</a>
      </li>
      <li>
        <a href=''>
          <i class="famfamfam-flag-pl" data-locale='pl_PL'></i>
          Polski</a>
      </li>
      <li>
        <a href=''>
          <i class="famfamfam-flag-pt" data-locale='pt_PT'></i>
          Português</a>
      </li>
      <li>
        <a href=''>
          <i class="famfamfam-flag-ru" data-locale='ru_RU'></i>
          Pу́сский</a>
      </li>
    </div>
    <div class="locale_space korea">
      <li>
        <a href=''>
          <i class="famfamfam-flag-kr" data-locale='ko_KR'></i>
          한국어</a>
      </li>
    </div>
    <div class="locale_space taiwan">
      <li>
        <a href=''>
          <i class="famfamfam-flag-tw" data-locale='zh_TW'></i>
          繁體中文</a>
      </li>
    </div>
  </ul>
</div>
