<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a href="/" class="navbar-brand">Battle API</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Diablo", "/" %>
        </li>
        <li>
          <%= link_to "Compare", main_app.compare_index_path %>
        </li>
        <li>
          <%= link_to "Build", main_app.build_index_path %>
        </li>
        <li>
          <%= link_to "Impressum", main_app.impressum_index_path %>
        </li>
        <li>
          <%= link_to "Translation", I18nTranslation.railtie_routes_url_helpers.translate_list_path %>
        </li>
      </ul>

      <div class="nav navbar-nav navbar-right">
        <%= render 'layouts/region' %>
        <%= render 'layouts/locale' %>
        <%= render 'layouts/user_manager' %>
      </div>
    </div>
  </div>
</div>
