<div class="btn-group">
  <button class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" type="button">
    <span data-bind="label" id='current-region'>
      <a href='' data-no-turbolink="true">
        <i class="famfamfam-flag-eu" data-region='eu'></i>
        Europa</a>
    </span>
    <span class="caret"></span>
  </button>
  <ul id='region' class="dropdown-menu" role="menu">
    <li>
      <a href='' data-no-turbolink="true">
        <i class="famfamfam-flag-eu" data-region='eu'></i>
        Europa</a>
    </li>
    <li>
      <a href='' data-no-turbolink="true">
        <i class="famfamfam-flag-us" data-region='us'></i>
        America</a>
    </li>
    <li>
      <a href='' data-no-turbolink="true">
        <i class="famfamfam-flag-kr" data-region='kr'></i>
        Korea</a>
    </li>
    <li>
      <a href='' data-no-turbolink="true">
        <i class="famfamfam-flag-tw" data-region='tw'></i>
        Taiwan</a>
    </li>
    <li>
      <a href='' data-no-turbolink="true">
        <i class="famfamfam-flag-cn" data-region='cn'></i>
        China (work in Progress)</a>
    </li>
    <li>
      <a href='' data-no-turbolink="true">
        <i class="famfamfam-flag-sea" data-region='sea'></i>
        South East Asia (work in Progress)</a>
    </li>
  </ul>
</div>
