<% if user_signed_in? %>
  <li>
    <%= render 'devise/shared/edit' %>
  </li>
  <li>
    <%= render 'devise/shared/logout' %>
  </li>
<% else %>
  <li>
    <%= render 'devise/shared/login' %>
  </li>
  <li>
    <%= link_to ('<span class="glyphicon glyphicon-user"></span> Sign up').html_safe, "#registration", "data-toggle" => "modal", "data-target" => "#registration" %>
  </li>
<% end %>
