<!DOCTYPE html>
<html>

<head>
  <title>BattleApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" %>
  <%= javascript_include_tag    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>

  <%= javascript_include_tag    "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" %>

  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <%= render 'layouts/navigation' %>
      <div class="container-full">
        <%= render partial: "shared/flash_messages", flash: flash %>
        <%= render 'devise/sessions/new' %>
        <%= render 'devise/registrations/new' %>
        <%= render 'devise/registrations/edit' %>
          <div class="col-lg-12 background">
            <%= yield %>
          </div>
      </div>
  </header>
</body>

</html>
